<h2>Ideas</h2>

{{#each ideas}}
<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{detail}}</p>
        <a href="#" class="card-link">{{date}}</a>
        <div class="row mt-3">
            <div class="col-6">
                <a href="/ideas/edit/{{id}}">
                    <button class="btn btn-success btn-block">Edit</button>
                </a>
            </div>
            <div class="col-6">
                <form action="/ideas/{{id}}?_method=DELETE" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-warning btn-block">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{else}}
<p>No video ideas </p>
{{/each}}